body {
    margin-top: 100px;
    background-color: rgb(231, 225, 216);
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(194, 174, 193);
    font-size: 5em;
}

ul {
    padding: 0;
}

ul li {
    border: 1px solid rgb(194, 174, 193);
    list-style: none;
    padding: 10px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    background-color: rgb(231, 225, 216);
}

.trashcan {
    display: flex;
    float: right;
    display: none;
    padding: 3px;
}
  
li:hover .trashcan {
    display: inline-block;
}
